:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
}

body {
    background-color: var(--clr-grey-2);
    text-align: center;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: var(--clr-grey-1);
    min-height: 80px;
    text-align: center;
    padding-top: 1px;
}

h1 {
    font-weight: bold;
    color: var(--clr-grey-10);
    word-spacing: 1rem;
}

h2, h3, p {
    color: var(--clr-grey-9);
}

.score {
    display: flex;
    justify-content:space-around;
    padding: 0px 100px 0 100px;
}

button {
    background-color: var(--clr-primary-2);
    border: none;
    border-radius: 5%;
    min-width: 100px;
    min-height: 100px;
    font-size: 500%;
    margin-right: 20px;
}

button:hover {
    cursor: pointer;
    background-color: var(--clr-primary-1);
}