body {
    background-color: rgba(13, 51, 122, 0.884);
    text-align: center;
}

header {
    background-color: blue;
    
}

h1 {
    font-weight: bold;
    color: aliceblue;
    word-spacing: 1rem;
}
